body {
    font-family: sans-serif;
    background-color: #EEEEEE;
    color: #414141;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #DDE0E3;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #DDE0E3;
    flex-grow: 1;
}

button {
    padding: 10px 20px;
    background-color: #5995DA;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #DDE0E3;
}
