body {
    font-family: sans-serif;
    background-color: #b7ced4;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0e414e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    background-color: white;
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 400px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
}

button {
    padding: 10px 20px;
    background-color: #4190a3;
    color: white;
    border: none;
    border-radius: 5px;
}

#reset-button {
    background-color: #4190a3; 
}

#reset-button:hover {
    background-color: #c9302c;
}


button:hover {
    background-color: #45832c;
}

h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #0e414e;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}
